# {{ ansible_managed}}
[Unit]
Description=Unifi5
After=docker.service network-online.target
Requires=docker.service network-online.target

[Service]
TimeoutStartSec=0
Restart=always
ExecStart=/usr/bin/docker run -v /var/lib/unifi:/var/lib/unifi:Z -v /var/log/unifi:/var/log/unifi:Z -v /var/run/unifi:/var/run/unifi:Z --net=host --name %n jacobalberty/unifi:unifi5
ExecStop=/usr/bin/docker stop %n
ExecStartPre=-/usr/bin/docker rm %n
ExecStartPre=/usr/bin/docker pull {{ unifi_docker_image }}

[Install]
WantedBy=multi-user.target
